@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');
/* font-family: 'Alata', sans-serif;
font-family: 'Josefin Sans', sans-serif; */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --White: hsl(0, 0%, 100%);
  --Black: hsl(0, 0%, 0%);
  --DarkGray: hsl(0, 0%, 55%);
  --VeryDarkGray: hsl(0, 0%, 41%);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Josefin Sans', sans-serif;

  text-transform: uppercase;
}
h2 {
  font-size: 30px;
}
p {
  font-size: 15px;
  font-family: 'Alata', sans-serif;
  color: var(--VeryDarkGray);
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
button {
  background-color: transparent;
  font-family: 'Alata', sans-serif;
  border: 0;
  color: var(--White);
}
img {
  max-width: 100%;
}
